#auth_form {
    position:fixed;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -125px;
    height: 300px;
    width: 250px;
    border-radius:10px;
    background-color: grey;
}

#auth_title {
    margin-top: 160px;
    font-size: 140%;
    color: white;
}

#auth_password {
    position: absolute;
    width: 210px;
    margin: 20px;
    bottom: 45px;
}


#auth_submit_btn{
    position:absolute;
    width: 210px;
    bottom: 15px;
    left:20px;
}
