<!DOCTYPE html>
<html>

<head>
    <title>바른투자:: 관리자 로그인</title>


    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->

    <!-- index CSS file import -->
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/auth.css">

    <!-- javscript import -->
    <% include ../logics/auth %>

</head>

<body>

<div id="auth_form">
    <img src="images/logo.gif" alt="바른투자" height="60" width="200">
    <form action="/auth" method="post">
        <input placeholder="비밀번호를 입력해주세요." type="password" class="form-control" id="auth_password" name="password">

        <button type="submit" class="btn btn-default" id="auth_submit_btn">인증</button>


    </form>

</div>
</body>

</html>