<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로딩</title>


    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <!--pake loader-->
    <script src="js/fakeLoader.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- index CSS file import -->
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- javscript import -->
    <% include ../logics/index.ejs %>
</head>
<body>
<div id="index_background"></div>
<div id="index_form">
    <div id="index_company">바른투자</div>
    <div id="index_title">종목 자동분석기</div>
    <form action="/analyze" method="get">
        <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="분석할 종목명을 입력하세요">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div>
    </form>
    <div id="index_description">원하시는 종목명을 검색하시면<br> 자동으로 해당 종목의 분석을 시작합니다. (최대 약 3분소요)</div>
</div>
<div id="hp_footer">
    <div class="hp_footer_text">회사명 : 바른투자</div>
    <div class="hp_footer_text">대표자 : 최중재</div>
    <div class="hp_footer_text">통신판매번호 : 제2016- 서울강서-1090호</div>
    <div class="hp_footer_text">사업자번호 : 205-04-37380   [사업자정보확인]</div>
    <div class="hp_footer_text">사업장주소 : 서울시 강서구 양천로 401, 강서한강자이타워</div>
    <div class="hp_footer_text">대표전화 : 02-6341-5825, 팩스 : 02-2638-5859, 이메일 : baruninvest@gmail.com</div>

    <div class="hp_footer_text">Copyrights. 바른투자.All Rights Reserved.</div>

    <div class="hp_footer_text">귀하는 상기 동의를 거부할 권리가 있습니다. 단 동의 하지 않으실경우<br> 관련 상품이나 서비스 상담 신청은 불가능합니다.</div>
</div>
</body>
</html>